<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LendingLibrary.Properties.Settings.ItemsConnectionString"
            connectionString="Data Source=CODY-PC\LENDLIBRARY;Initial Catalog=Items;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LendingLibrary.Properties.Settings.LentItemsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LoanedItems.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>